ul.doctree {
  padding-left: 0;
}

ul.doctree li {
  list-style: none;
}

ul.doctree ul {
  border-left: 3px solid gray;
  padding: 10px;
  padding-right: 0px;
  margin-left: 5px;
}

ul.doctree li.doctree-expand > a:after {
  display: block;
  content: "More";
}

ul.doctree > li > ul:not(.visible) > li:not(.doctree-expand) {
  display: none;
}

ul.doctree ul.visible > li.doctree-expand a:after {
  content: "Less";
}
